@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .nameDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101d51;
  z-index: 2;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.myname {
  font-size: 16px;
}

.textSize {
  font-size: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  max-width: 700px;
  max-width: 400px;
  margin: 15px auto;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
}

.modal button {
  color: #d3d7e4;
  background: #3c404f;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
  padding: 4px 8px;
}

.greeting {
  color: white;
  font-weight: bold;
}
.started {
  color: #3c404f;
  font-weight: bold;
}
